/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colours */
  --_hue-primary: 350;
  --_hue-secondary: 260;

  /* Light Mode */
  --bkg--light: var(--_hue-secondary) 25% 95%;
  --txt--light: var(--_hue-primary) 40% 5%;
  --accent--light: var(--_hue-primary) 70% 60%;
  --muted--light: var(--_hue-secondary) 10% 80%;
  /* Dark Mode */
  --bkg--dark: var(--_hue-secondary) 15% 10%;
  --txt--dark: var(--_hue-primary) 15% 90%;
  --accent--dark: var(--_hue-primary) 80% 70%;
  --muted--dark: var(--_hue-secondary) 15% 30%;

  --bkg: var(--bkg--light);
  --txt: var(--txt--light);
  --accent: var(--accent--light);
  --muted: var(--muted--light);
  color-scheme: light;

  & :focus-visible {
    outline: solid 1px hsl(var(--accent) / 0.5);
  }
  /* radius */
  --radius-xs: 0.25rem;
  --radius-s: 0.375rem;
  --radius-m: 0.5rem;
  --radius-l: 0.625rem;
  --radius-full: 100vmax;

  /* spacing */
  --space-3xs: clamp(0.25rem, 0.2305rem + 0.0973vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4611rem + 0.1946vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6916rem + 0.2918vi, 0.9375rem);
  --space-s: clamp(1rem, 0.9222rem + 0.3891vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3833rem + 0.5837vi, 1.875rem);
  --space-l: clamp(2rem, 1.8444rem + 0.7782vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7665rem + 1.1673vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6887rem + 1.5564vi, 5rem);
  --space-3xl: clamp(6rem, 5.5331rem + 2.3346vi, 7.5rem);

  /* one-up spacing pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1333rem + 0.5837vi, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3638rem + 0.6809vi, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5944rem + 0.7782vi, 1.25rem);
  --space-s-m: clamp(1rem, 0.7276rem + 1.3619vi, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1887rem + 1.5564vi, 2.5rem);
  --space-l-xl: clamp(2rem, 1.4553rem + 2.7237vi, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3774rem + 3.1128vi, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.9105rem + 5.4475vi, 7.5rem);

  /* Custom pairs */
  --space-xs-l: clamp(0.75rem, 0.2053rem + 2.7237vi, 2.5rem);
  --space-xs-2xl: clamp(0.75rem, -0.573rem + 6.6148vi, 5rem);
  --space-m-xl: clamp(1.5rem, 0.7996rem + 3.5019vi, 3.75rem);
  --space-l-2xl: clamp(2rem, 1.0661rem + 4.6693vi, 5rem);

  /* font sizing */
  /* utopia type scale */
  --step--2: clamp(0.7901rem, 0.7659rem + 0.1213vi, 0.8681rem);
  --step--1: clamp(0.8889rem, 0.8413rem + 0.2378vi, 1.0417rem);
  --step-0: clamp(1rem, 0.9222rem + 0.3891vi, 1.25rem);
  --step-1: clamp(1.125rem, 1.0083rem + 0.5837vi, 1.5rem);
  --step-2: clamp(1.2656rem, 1.0993rem + 0.8317vi, 1.8rem);
  --step-3: clamp(1.4238rem, 1.1947rem + 1.1458vi, 2.16rem);
  --step-4: clamp(1.6018rem, 1.2936rem + 1.5412vi, 2.592rem);
  --step-5: clamp(1.802rem, 1.3948rem + 2.0364vi, 3.1104rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg: var(--bkg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --muted: var(--muted--dark);
    color-scheme: dark;
  }
}

body {
  font-family: sans-serif;
  font-size: var(--step-0);
  line-height: 1.6;
  color: hsl(var(--txt));
  background-color: hsl(var(--bkg));
}

h4,
h3,
h2,
h1 {
  font-weight: 700;
  line-height: 1.1em;
  max-width: 35ch;
}
h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-3);
}
h4 {
  font-size: var(--step-2);
}
