.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--muted) / 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: hsl(var(--bkg));
  padding: var(--space-s-m);
  border-radius: var(--radius-m);
  position: relative;
  width: 500px;
  max-width: 80%;
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.modal-button {
  background: hsl(var(--accent));
  color: white;
  border: none;
  padding: var(--space-2xs-xs) var(--space-xs-s);
  border-radius: var(--radius-s);
  cursor: pointer;
}

.modal-button:hover {
  background: blue;
}
